img{
    border-radius: 50px;
    width: 100px;
}
h2{
    font-size: 18px;
    text-align: center;
}
body{
    background-color: pink;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: center;
}
a{
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    display: block;
    text-align: center;
    margin: 16px;
    color: magenta;
}